body {
    font-family: "Roboto-Bold", sans-serif;
    background-color: #03071E;
    padding: 0px;
    margin: 0px;
}


.text {
    color: white;
}

.spacer {
    margin: 0px 10px;
    font-size: 19px;
}

.highlight {
    color: #E85D04;
}

.nospace {
    margin: 0px;
    padding: 0px;
}


.smallspace {
    margin: 5px 0px 5px 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
}

.newblock {
    margin-top: 60px;
}

@media only screen and (max-width: 750px) {
    .newblock {
        margin-top: 30px;
    }
}

figure {
    margin: 0px;
    padding: 0px;
}